{% extends 'base.html' %}
{% block title %}Cookie Settings{% endblock %}
{% block meta_description %}Information about cookies on this site.{% endblock %}
{% block content %}
<div class="container about-container">
    <div class="about-content">
        <h1 class="about-title">Cookie Settings</h1>
        <p class="about-text">This site does not use cookies.</p>
        <p class="about-text mb-0">If this changes in the future, you will see a consent banner and options here.</p>
    </div>
    <div class="mb-3"></div>
</div>
{% endblock %}