{% extends 'base.html' %}
{% load static %}

{% block title %}Impressum{% endblock %}

{% block content %}
<div class="container about-container">
    <div class="about-content">
        <h1 class="about-title">Impressum (Legal Notice)</h1>

        <h5 class="mb-2">Responsible for this website</h5>
        <p class="about-text mb-3">
            <strong>Name:</strong> Tatiana Ozhgibesova<br>
            <strong>Address:</strong> <span>Street, City, Country</span><br>
            <strong>Email:</strong> <a href="mailto:tatiana.ozhgibesova@email.com">tatiana.ozhgibesova@email.com</a>
        </p>

        <h5 class="mb-2">Disclaimer</h5>
        <p class="about-text">
            The contents of this website were created with the greatest care. However, I cannot guarantee the
            contents' accuracy, completeness, or timeliness. As a service provider, I am responsible for my own
            content on these pages, but not obliged to monitor transmitted or stored external information.
        </p>

        <h5 class="mb-2">Copyright</h5>
        <p class="about-text mb-0">
            The content and works on these pages are subject to copyright. Duplication, processing, distribution,
            or any form of commercialization of such material beyond the scope of copyright law shall require
            the prior written consent of the respective author.
        </p>
    </div>
    <div class="mb-3"></div>
</div>
{% endblock %}